<button><a href="/admin/logout">Logout</a></button>

<form method="post">{% csrf_token %}
  <div style = "max-width:470px;">
        <center>
           <input type = "text" style = "margin-left:20%;"
              placeholder = "Identifiant" name = "to" />
        </center>
     </div>
     <div style = "max-width:470px;">
           <center>
              <input type = "text" style = "margin-left:20%;"
                 placeholder = "Identifiant" name = "fro" />
           </center>
        </div>
        <div style = "max-width:470px;">
              <center>
                 <input type = "date" style = "margin-left:20%;"
                    placeholder = "Identifiant" name = "contact_date" />
              </center>
           </div>
           <div style = "max-width:470px;">
                 <center>
                    <input type = "time" style = "margin-left:20%;"
                       placeholder = "Identifiant" name = "contact_time" />
                 </center>
              </div>
              <div style = "max-width:470px;">
                <select id="mySelect" onchange="myFunction()">
                  {% for i in vehicle %}
                    <option value={{i}}>{{ i }}
                  {% endfor %}
                </select>
                <button><a href="new">Add Vehicle</a></button>
                <input style="opacity:0" id="demo" type="text" name="widget"/>
              </div>
                <button type="submit">Update Ride</button>
</form>

<script>
function myFunction() {
  var x = document.getElementById("mySelect").value;
  document.getElementById("demo").value= x;
}
</script>
