<form class="" method="post">{% csrf_token %}
      <div style = "max-width:470px;">
            <center>
               <input type = "text" style = "margin-left:20%;"
                  placeholder = "Identifiant" name = "name" />
            </center>
         </div>

         <br>

         <div style = "max-width:470px;">
            <center>
               <input type = "text" style = "margin-left:20%;"
                  placeholder = "password" name = "register" />
            </center>
         </div>
         <div style = "max-width:470px;">
                 <center>
                    <input type = "text" style = "margin-left:20%;"
                       placeholder = "Identifiant" name = "people" />
                 </center>
              </div>

              <br>

              <div style = "max-width:470px;">
                 <center>
                    <input type = "text" style = "margin-left:20%;"
                       placeholder = "password" name = "model" />
                 </center>
              </div>
  <button type="submit">Add Vehicle</button>
</form>
